*{
    font-family: 'Courier New', Courier, monospace;
    margin: 10px;
    
}
h1{
    text-align: center;
    background-color: grey;
    margin: 25px 10px;
    
}
img{
    width: 50%;
    height: auto;
    display: flex;
    margin: 20px auto;
}
